version: '3'

services:
  # -------------------------
  # Infastructure Services
  # -------------------------
  redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - novu-network

  mongodb:
    image: mongo:latest
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
  # -------------------------
  # Novu Services
  # -------------------------
  novu-api:
    image: ghcr.io/novuhq/novu/api:latest
    restart: unless-stopped
    environment:
      - NODE_ENV=local
      - PORT=3000
      - MONGO_URL=mongodb://root:root@mongodb:27017/novu-db?authSource=admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=your-secret-key-change-me
      - STORE_ENCRYPTION_KEY=your-encryption-key-must-be-32-chars-length
      # Integration with Mailpit
      - SM_EMAIL_HOST=mailpit
      - SM_EMAIL_PORT=1025
    ports:
      - "${NOVU_API_PORT:-3002}:3000"
    depends_on:
      - mongodb
      - redis
    networks:
      - novu-network
      - default

  novu-worker:
    image: ghcr.io/novuhq/novu/worker:latest
    restart: unless-stopped
    environment:
      - NODE_ENV=local
      - MONGO_URL=mongodb://root:root@mongodb:27017/novu-db?authSource=admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - STORE_ENCRYPTION_KEY=your-encryption-key-must-be-32-chars-length
    depends_on:
      - mongodb
      - redis
    networks:
      - novu-network
      - default

  novu-web:
    image: ghcr.io/novuhq/novu/web:latest
    restart: unless-stopped
    environment:
      - REACT_APP_API_URL=http://localhost:${NOVU_API_PORT:-3002}
      - REACT_APP_WS_URL=http://localhost:${NOVU_API_PORT:-3002}
    ports:
      - "${NOVU_WEB_PORT:-4200}:4200"
    networks:
      - novu-network

  novu-ws:
    image: ghcr.io/novuhq/novu/ws:latest
    restart: unless-stopped
    environment:
      - PORT=3002
      - MONGO_URL=mongodb://root:root@mongodb:27017/novu-db?authSource=admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=your-secret-key-change-me
    depends_on:
      - mongodb
      - redis
    networks:
      - novu-network

volumes:
  novu_mongodb_data:


networks:
  novu-network:
  default: # No external name, just join project default
